{% extends 'base.html' %}
{% block content %}
    <!-- Hero background to show transparent navbar -->
    <div class="bg-gray from-purple-800 to-indigo-700 flex items-center justify-center">
        <div class="text-center text-dark px-4">
            <span class=""> Hey {{current_user.username}} !</span>
            <h1 class="text-4xl font-extrabold sm:text-5xl md:text-6xl">
                 Welcome to Our Blog
            </h1>
            <p class="mt-3 max-w-md mx-auto text-base text-dark-200 sm:text-lg md:mt-5 md:text-xl">
                This transparent navbar works great with hero sections.
            </p>
            
            <small class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 ">
                <a  href="{{url_for('create_post')}}">
                Get connect & share your idea
                </a>
            </small>
                
        </div>
    </div>

<div class="max-w-screen-xl mx-auto p-5 sm:p-10 md:p-16">
    <div class="grid grid-cols-1 md:grid-cols-3 sm:grid-cols-2 gap-10">

{% for post in posts %} 

        <div
            class="relative rounded border-r border-b border-l border-gray-400 lg:border-t lg:border-gray-400 bg-white rounded lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal">
            <a href="/view_post/{{post.id}}/" class="block overflow-hidden group rounded-xl shadow-lg">
            {% if post.img_post_view %}
            <img src="{{ url_for('serve_image', post_id=post.id) }}" class="transition-all duration-300 ease-out sm:h-64 group-hover:scale-110">
            {% else %}
            <p>No image available</p>
            {% endif %}
            </a>
            <div class="p-4 pt-2">
                <div class="mb-8">
                    
                    <a href="/view_post/{{post.id}}/" class="text-gray-900 font-bold text-lg mb-2 hover:text-indigo-600 inline-block">
                        {{post.title}}
                    </a>
                    <p class="text-gray-700 text-sm">{{post.content}}</p>
                </div>
                <div class="flex items-center">
                    <a
                        href="#">
                        {% for user in users %}
                        {% if post.author == user.username %}

                        <img class="w-10 h-10 rounded-full mr-4" src="{{ url_for('static', filename='uploads/' + user.img_user_view) }}" alt="Avatar of Jonathan Reinink">
                        {% endif %}
                        {% endfor %}
                    </a>
                    <div class="text-sm">
                        <a href="#" class="text-gray-900 font-semibold leading-none hover:text-indigo-600">
                            {{post.author}}</a>
                        <p class="text-gray-600">{{post.created_at.strftime('%d-%m-%Y %H:%M')}}</p>
                    </div>
                </div>
                <div>
                    <a href="/view_post/{{post.id}}/"
                        class="inline-block pb-1 mt-2 text-base font-black text-blue-600 uppercase border-b border-transparent hover:border-blue-600">Read
                        More </a>
                </div>
            </div>
        </div>

{% endfor %} 

</div>
</div>

{% endblock content %}
